# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*          @qantas-cloud/QDA-A1689-ADMIN @qantas-cloud/QDA-A1702-ADMIN
/cypress/ @qantas-cloud/QDA-A1028-ADMIN
CODEOWNERS @qantas-cloud/QANTAS-CLOUD-ADMINS
