.skip-to-main,
header.eds-block,
footer.eds-block {
  font-family: 'Qantas Sans', Helvetica, sans-serif;
  font-size: var(--font-size-base-16);
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-alias-surface-background-primary);
  color: var(--color-alias-text-primary);
  margin: 0;

  img {
    max-width: unset;
    display: unset;
    vertical-align: unset;
  }

  .logo {
    float: unset;
    margin-top: unset;
    line-height: 1.15;
  }

  .logo picture > img,
  .logo noscript > img,
  .logo a {
    display: unset;
    width: auto;
    height: unset;
    max-width: unset;
    max-height: unset;
    border: unset;
    outline: unset;
  }

  .logo-wrapper a {
    margin-top: unset;
    display: unset;
    height: unset;
  }

  .button {
    letter-spacing: unset;
    text-transform: unset;
    appearance: unset;
    -webkit-font-smoothing: unset;
    transition: unset;
    background: unset;
  }

  .logo-wrapper {
    display: unset;
    bottom: unset;
    position: unset;
    float: unset;
    left: unset;
  }

  * {
    font-family: 'Qantas Sans', Helvetica, sans-serif !important;
  }
}

html[lang^='ja'] .skip-to-main,
html[lang^='ko'] .skip-to-main,
html[lang^='zh'] .skip-to-main,
html[lang^='ja'] .eds-block,
html[lang^='ko'] .eds-block,
html[lang^='zh'] .eds-block {
  font-family: 'Noto Sans', Helvetica, sans-serif;
}

/* Base - Header, Footer */
header.eds-block {
  min-height: var(--header-height);
}

footer.eds-block .footer,
header.eds-block .header {
  visibility: hidden;
}

header.eds-block .header {
  z-index: 300;
  height: unset;
  background-color: unset;
  will-change: unset;
  transform: unset;
  transition: unset;
}

footer.eds-block .footer {
  transform: unset;
  transition: unset;
  will-change: unset;
  position: unset;
  padding: unset;
  z-index: unset;
}

footer.eds-block .footer .footer-container {
  padding: var(--spacing-alias-responsive-layout-margin-navigation);
  box-sizing: content-box;
}

footer.eds-block .footer .block.menu.icon {
  top: unset !important;
}

footer.eds-block .footer .block.menu a.menu-link {
  color: var(--color-alias-text-secondary) !important;
}

footer.eds-block .footer .block.menu a.menu-link:hover,
footer.eds-block .footer .block.menu a.menu-link:active {
  color: var(--color-alias-text-primary) !important;
}

footer.eds-block .footer a.back-to-top-link {
  color: var(--color-alias-interactive-muted-enabled-foreground) !important;
}

footer.eds-block .footer[data-block-status='loaded'],
header.eds-block .header[data-block-status='loaded'] {
  visibility: visible;
}

.footer.block {
  display: block !important;
}

body.noscroll {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 64rem) {
  header.eds-block .header {
    transform: translateZ(0);
  }
}
